body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100%;
    width: 1200px;
    display: grid;
    grid-template-areas:
        'h'
        'm'
        'f'
    ;
    grid-gap: 10px;
}

.wrapper > header {
    grid-area: h;
    display: grid;
    grid-template-areas:
        'logo navigation'
    ;
}

header > .logo, .navigation {
    display: grid;
    align-items: center;
}

header > .logo {
    grid-area: logo;
    justify-content: left;
}

header > nav {
    grid-area: navigation;
    justify-content: right;
    margin-right: 1%;
}

nav ul {
    display: block;
    margin: 0;
}

nav li {
    float: right;
    display: grid;
    padding: 10px;
    margin: 2%;
}

.wrapper > main {
    grid-area: m;
    display: grid;
    grid-template-areas:
        'banner'
        'info'
    ;
    grid-gap: 10px;
}

main > .banner {
    grid-area: banner;
    display: grid;
}

main > .info {
    grid-area: info;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.infoblock {
    display: grid;
}

.wrapper > footer {
    grid-area: f;
    display: grid;
    grid-template-areas:
        'copyright navigation'
    ;
}

footer > .copyright {
    grid-area: copyright;
}

footer > .navigation-footer {
    grid-area: navigation;
}

.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.popup-content {
    margin: auto;
    padding: 1%;
    width: 80%;
    grid-template-areas:
        'header'
        'image'
        'line'
        'text'
        'button'
    ;
}

.popup-content > .header {
    grid-area: header;
}

.popup-content > .image {
    grid-area: image;
}

.popup-content > .popup-line {
    grid-area: line;
}

.popup-content > .text {
    grid-area: text;
}

.popup-content > button {
    grid-area: button;
}

.close {
    float: right;
}