:root {
    --background-color: #F5F5F5;
    --wrapper-color: #FFF2CC;
    --header-color: #E1D5E7;
    --font-color: #000000;
    --banner-color: #FFFFFF;
    --line-color: #6699FF;
    --button-color: #0000FF;
    --infoblock-color: #F8CECC;
    --footer-color: #E1D5E7;
    --popup-background: rgba(0,0,0,0.4);
    --popup-content-color: #FEFEFE;
    --popup-content-border: #888888;
    --popup-header-color: #FFCCCB;
}